@import "tailwindcss";

textarea,
input {
  outline: none;
}
html {
  scrollbar-width: none;
}
.container {
  max-width:1400px;
  margin: 0 auto;
}
.hide-scrollbar {
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
